
<br><br>

<div class='container'>

    <table style=' border: solid black; 2px'>

        <tr><td>Student Name: Mr X</td></tr>
        <tr><td>Student ID: 12345</tr></tr>





    </table>
    <br>

    <table>
        <thead>

            <th> Subject </th>
            <th> Marks </th>
            <th> Subject </th>

        </thead>

        <tr>
            <td>Bangla</td>
            <td>75</td>
            <td>F</td>
        </tr>


        <tr>
            <td>English</td>
            <td></td>
            <td>F</td>
        </tr>



        <tr>
            <td>Math</td>
            <td>80</td>
            <td>F</td>
        </tr>


    </table>

</div>

<br><br>

<div class='container'>

    <table style=' border: solid black; 2px'>

        <tr><td>Student Name: Mr X</td></tr>
        <tr><td>Student ID: 123</tr></tr>





    </table>
    <br>

    <table>
        <thead>

            <th> Subject </th>
            <th> Marks </th>
            <th> Subject </th>

        </thead>

        <tr>
            <td>Bangla</td>
            <td>56</td>
            <td>F</td>
        </tr>


        <tr>
            <td>English</td>
            <td>60</td>
            <td>F</td>
        </tr>



        <tr>
            <td>Math</td>
            <td>80</td>
            <td>F</td>
        </tr>


    </table>

</div>

<br><br>

<div class='container'>

    <table style=' border: solid black; 2px'>

        <tr><td>Student Name: Mr X</td></tr>
        <tr><td>Student ID: 12345</tr></tr>





    </table>
    <br>

    <table>
        <thead>

            <th> Subject </th>
            <th> Marks </th>
            <th> Subject </th>

        </thead>

        <tr>
            <td>Bangla</td>
            <td>75</td>
            <td>A</td>
        </tr>


        <tr>
            <td>English</td>
            <td>57</td>
            <td>B</td>
        </tr>



        <tr>
            <td>Math</td>
            <td>80</td>
            <td>A+</td>
        </tr>


    </table>

</div>
